<div id="content" role="main">
  <div>
    <h2>My ninja name</h2>
    <p>
      Enter your favorite buzzwords from the
      <a href="https://github.com/sindresorhus/awesome">Awesome list</a> and get
      your own unique ninja name!
    </p>
  </div>

  <app-new-buzzword
    [buzzwords]="buzzwords"
    (buzzwordsChange)="updateAddBtnMsg()"
    [addBtnMsg]="addBtnMsg"
  ></app-new-buzzword>

  <app-buzzword-list
    [buzzwords]="buzzwords"
    (buzzwordsChange)="updateAddBtnMsg()"
  ></app-buzzword-list>

  <app-ninja-name [buzzwords]="buzzwords"></app-ninja-name>

  <app-konami-code></app-konami-code>

  <footer>
    <span
      >Made by Simon Côté for TLM
      <a href="https://github.com/SimKimchi/coding-challenge">(Source code)</a>
    </span>
  </footer>
</div>
