<div>
  <mat-form-field>
    <mat-label>Enter a buzzword!</mat-label>
    <input
      matInput
      placeholder="Ex. TypeScript"
      type="text"
      [formControl]="buzzwordInput"
      (keyup.enter)="addBuzzword()"
    />
    <mat-error *ngIf="buzzwordInput.hasError('required')">
      Type something!
    </mat-error>
    <mat-error *ngIf="buzzwordInput.hasError('duplicateBuzzword')">
      Not that one again!
    </mat-error>
  </mat-form-field>

  <button mat-stroked-button (click)="addBuzzword()">
    {{ addBtnMsg }}
  </button>
</div>
